<!doctype html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Héros Marvel</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}" media="all">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
</head>

<body>
<div class="website">
    <header class="header" role="banner">
        {% block title %}<h1>{{ hero.identity }}</h1>{% endblock %}
    </header>

    <main id="main" role="main" class="main">
        {% block main %}
        {% endblock %}
    </main>
</div>
</body>

</html>


