{% extends 'base.html.twig' %}

{% block title %}<h1>Hello, HERO</h1> {% endblock %}

{% block main %}
    <div class="welcome">

<h1> WELCOME TO THE MARVEL GANG </h1>
        <br>
        <br>

        <img src ="{{ asset('/uploads/Marvel_Logo.svg.png')}}" width="500px" alt="">

        <br>
        <br>

<h2> You can enter, if you're not BATMAN </h2>
        <h5>(Or other DC Douchebag) </h5>
        <br>
        <br>

<div class="button">
    <a href = "{{ path('home') }}" class="button">
        Discover your friends </a>
</div>

</div>

{% endblock %}